<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Verifier.human_attribute_name(:name) %></th>
      <th><%= Verifier.human_attribute_name(:job_title_id) %></th>
      <th><%= Verifier.human_attribute_name(:member_id) %></th>
      <th>
        <%= link_to new_admin_verifier_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @verifiers.each do |verifier| %>
    <tr>
      <td><%= verifier.name %></td>
      <td><%= verifier.job_title_id %></td>
      <td><%= verifier.member_id %></td>
      <td>
        <%= link_to admin_verifier_path(verifier), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-info"></i>
        <% end %>
        <%= link_to edit_admin_verifier_path(verifier), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_verifier_path(verifier), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @verifiers %>
