<div class="ui top attached borderless menu">
  <div class="header item">Hr Check Settings</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Hr Check Setting', new_admin_check_setting_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= CheckSetting.human_attribute_name(:id) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @check_settings.each do |check_setting| %>
    <tr>
      <td><%= check_setting.id %></td>
      <td class="ui labels">
        <%= link_to admin_check_setting_path(check_setting), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_check_setting_path(check_setting), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_check_setting_path(check_setting), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @check_settings %>
