<div>
  <dt><%= Approval.human_attribute_name(:pending_changes) %></dt>
  <dd><%= @approval.pending_changes %></dd>
</div>
<div>
  <dt><%= Approval.human_attribute_name(:comment) %></dt>
  <dd><%= @approval.note %></dd>
</div>
<div>
  <dt><%= Approval.human_attribute_name(:state) %></dt>
  <dd><%= @approval.state %></dd>
</div>
<div>
  <dt><%= Approval.human_attribute_name(:approved_at) %></dt>
  <dd><%= @approval.approved_at %></dd>
</div>
