<div class="ui segment breadcrumb">
  <%= link_to 'Back', checks_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @check, local: true do |f| %>
    <%= render 'shared/error_messages', target: @check %>
    <%= f.number_field :member_id %>
    <%= f.text_field :comment %>
    <%= f.check_box :confirmed %>
    <%= f.number_field :position %>
    <%= f.submit %>
  <% end %>
</div>
