<div class="ui top attached borderless menu">
  <div class="header item">Checks</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Check', new_check_path, class: 'button is-link is-small' %>
    </div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Check.human_attribute_name(:id) %></th>
      <th><%= Check.human_attribute_name(:member_id) %></th>
      <th><%= Check.human_attribute_name(:comment) %></th>
      <th><%= Check.human_attribute_name(:verified) %></th>
      <th><%= Check.human_attribute_name(:position) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @checks.each do |check| %>
    <tr>
      <td><%= check.id %></td>
      <td><%= check.member_id %></td>
      <td><%= check.comment %></td>
      <td><%= check.verified %></td>
      <td><%= check.position %></td>
      <td class="ui labels">
        <%= link_to check_path(check), class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_check_path(check), class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to check_path(check), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @checks %>
