<table class="ui table">
  <thead>
    <tr>
      <th><%= Approval.human_attribute_name(:pending_changes) %></th>
      <th><%= Approval.human_attribute_name(:comment) %></th>
      <th><%= Approval.human_attribute_name(:state) %></th>
      <th><%= Approval.human_attribute_name(:approved_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @approvals.each do |approval| %>
    <tr>
      <td><%= approval.pending_changes %></td>
      <td><%= approval.comment %></td>
      <td><%= approval.state %></td>
      <td><%= approval.approved_at %></td>
      <td>
        <%= link_to edit_admin_approval_path(approval), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @approvals %>
