<table class="ui table">
  <thead>
    <tr>
      <th><%= Approval.human_attribute_name(:pending_changes) %></th>
      <th><%= Approval.human_attribute_name(:related_changes) %></th>
      <th><%= Approval.human_attribute_name(:comment) %></th>
      <th><%= Approval.human_attribute_name(:approved_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @approvals.each do |approval| %>
    <tr>
      <td><%= simple_format approval.pending_changes_i18n %></td>
      <td><%= simple_format approval.related_changes %></td>
      <td><%= approval.comment %></td>
      <td><%= approval.approved_at %></td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[approval]approved', nil, approval.approved, data: { method: :patch, remote: true, url: admin_approval_path(approval), submit: true }, id: nil %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @approvals %>
