<div>
  <dt><%= Auditor::Verifier.human_attribute_name(:name) %></dt>
  <dd><%= @verifier.name %></dd>
</div>
<div>
  <dt><%= Auditor::Verifier.human_attribute_name(:job_title_id) %></dt>
  <dd><%= @verifier.job_title_id %></dd>
</div>
<div>
  <dt><%= Auditor::Verifier.human_attribute_name(:member_id) %></dt>
  <dd><%= @verifier.member_id %></dd>
</div>
