<div>
  <dt><%= Auditor::Verification.human_attribute_name(:member_id) %></dt>
  <dd><%= @verification.member_id %></dd>
</div>
<div>
  <dt><%= Auditor::Verification.human_attribute_name(:comment) %></dt>
  <dd><%= @verification.comment %></dd>
</div>
<div>
  <dt><%= Auditor::Verification.human_attribute_name(:approved) %></dt>
  <dd><%= @verification.approved %></dd>
</div>
<div>
  <dt><%= Auditor::Verification.human_attribute_name(:position) %></dt>
  <dd><%= @verification.position %></dd>
</div>
