<tr>
  <td><%= Auditor::Verification.human_attribute_name(:member_id) %></td>
  <td><%= @verification.member_id %></td>
</tr>
<tr>
  <td><%= Auditor::Verification.human_attribute_name(:comment) %></td>
  <td><%= @verification.comment %></td>
</tr>
<tr>
  <td><%= Auditor::Verification.human_attribute_name(:approved) %></td>
  <td><%= @verification.approved %></td>
</tr>
<tr>
  <td><%= Auditor::Verification.human_attribute_name(:position) %></td>
  <td><%= @verification.position %></td>
</tr>
